.content-width {
  width: calc(100% - 2em);
  max-width: 75ch;
  padding-inline: 1rem;
  overflow-x: clip;
  margin-inline: auto;
}

.page-start-button {
  display: none;
}

.link-button {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  // pointer-events: none;
  i,
  p {
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
    z-index: 2;
  }
  button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.copyButton {
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  color: var(--fg-main);
  border: 1px solid var(--bg-emphasis);
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
  background-color: var(--bg-secondary);
  z-index: 2;
  p {
    margin: 0;
    font-family: IBMPlexSans;
  }
}

@media (hover: hover) {
  .bold-hover:hover {
    font-weight: bold !important;
  }
  .accent-hover:hover {
    color: var(--fg-secondary) !important;
  }
}

.bold-hover:active {
  font-weight: bold !important;
}

.accent-hover:active {
  color: var(--fg-secondary) !important;
}

.nocaption + figcaption {
  display: none;
}

.info-array {
  color: var(--fg-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  row-gap: 0;
  flex-wrap: wrap;
  p {
    margin: 0;
  }
}
