p {
  line-height: 1.5em;
}

pre {
  position: relative;
  // margin-inline: 1.0em;
  line-height: 1.5em;
}

code {
  font-family: IBMPlexMono, monospace;
  font-size: 0.9em;
  max-width: 100%;
  overflow-x: scroll;
  border-radius: 0.25rem;
}

img {
  background-color: white;
  max-width: 100%;
  margin-inline: auto;
}

figure {
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

figcaption {
  // display: none;
  margin-inline: auto;
  color: var(--fg-secondary);
}

button {
  margin: 0;
  padding: 0;
  background-color: inherit;
}

mjx-container {
  overflow-x: auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

a:link,
a:visited {
  color: var(--accent);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

a:active {
  text-decoration: underline;
}

hr {
  display: block;
  height: 0px;
  border: 0;
  padding: 0;
  border-top: 1px solid var(--bg-emphasis);
}

blockquote p {
  font-style: italic;
}

:not(pre) code {
  background-color: var(--bg-secondary);
  padding-inline: 0.25em;
}

table {
  margin-inline: auto;
  border-collapse: collapse;
  border: 1px solid var(--bg-emphasis);
  table-layout: fixed;
}
tbody tr:nth-child(odd) {
  background-color: var(--bg);
}
tbody tr:nth-child(even) {
  background-color: var(--bg-secondary);
}
th,
td {
  padding: 0.5rem;
}

th,
td {
  border-right: 1px solid var(--bg-emphasis);
}

th:last-child,
td:last-child {
  border-right: none;
}

thead {
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--bg-emphasis);
}
