#page-footer {
  hr {
    margin: 0;
  }
  button {
    background-color: inherit;
    border: none;
    color: var(--fg-secondary);
    i {
      font-size: 1.5rem;
    }
  }
  a:link,
  a:visited {
    color: var(--fg-secondary);
    text-decoration: none;
  }
  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
  }
  }
  a:active {
    text-decoration: underline;
  }
}

#page-footer > div:last-child {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
