@use "fonts";
@use "colours";
@use "elements";
@use "page-header";
@use "page-footer";
@use "classes";

html {
  scroll-behavior: smooth;
}

body {
  font-family: IBMPlexSans, sans;
  background-color: var(--bg-main);
  color: var(--fg-main);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

article {
  grid-area: content;
  width: 100%;
  overflow-x: clip;
  header {
    margin-bottom: 2rem;
  }
  :is(h2, h3, h4, h5, h6) > a,
  :is(h2, h3, h4, h5, h6) > a:link,
  :is(h2, h3, h4, h5, h6) > a:visited {
    opacity: 0.5;
    color: var(--fg-secondary);
    text-decoration: none;
    font-size: 1rem;
    transition: opacity 1s;
  }
  :is(h2, h3, h4, h5, h6):hover > a,
  :is(h2, h3, h4, h5, h6):hover > a:link,
  :is(h2, h3, h4, h5, h6):hover > a:visited {
    opacity: 1;
  }
}

#pages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  gap: 1rem;
  @media (max-width: 600px) {
    grid-auto-rows: auto;
  }
}

.card {
  min-height: 0;
  padding: 1rem;
  border: 1px solid var(--bg-emphasis);
  border-radius: 0.5rem;
  h3 {
    margin-top: 0;
  }
  a {
    line-height: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

#license-notice {
  line-height: 1.5rem;
  ul {
    padding-left: 2rem;
  }
}

.centre {
  text-align: center;
  flex-grow: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (hover: hover) {
    .link-button:hover {
      background-color: var(--bg-emphasis);
    }
  }
  .link-button:active {
    background-color: var(--bg-emphasis);
  }
  .link-button {
    padding: 0.5rem;
    color: var(--fg-secondary);
  }
}

#see-also + ul {
  margin-left: 1rem;
  max-width: 60%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  // list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  li {
    display: inline;
  }
}

#summary-paragraph {
  margin-top: 0;
}
