<footer id="page-footer">
  <div class="content-width">
    <hr>
  </div>
  <div class="content-width">
    <div class="info-array">
      <p>
        <i class="nf nf-md-copyright"></i>
        MMXXIII Alexander Neville
      </p>
      <p>
        <i class="nf nf-md-scale nf-md-scale_balance"></i>
        CC BY-SA 4.0 / GNU GPL v3
      </p>
      <p>
        <i class="nf nf-oct-mail"></i>
        <a href="mailto:contact@afneville.com">contact@afneville.com</a>
      </p>
    </div>
    <button class="page-start-button bold-hover"><i class="nf nf-md-chevron_double_up bold-hover"></i></button>
  </div>
</footer>
